
[Unit]
Description=Backend
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=centos
ExecStart=node  /opt/app/backend/index.js

[Install]
WantedBy=multi-user.target